{
  "CreatePaymentFunction": {
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "us-east-1",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local"
  },
  "InitiatePaymentFunction": {
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "us-east-1",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local"
  },
  "GetPaymentFunction": {
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "us-east-1",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local"
  },
  "WebhookFunction": {
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "us-east-1",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local"
  }
}

